<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/styling.css"> 
</head>
<header class="site-header">
  <nav class="navbar">
    <a href="/" class="brand-logo">
      <img src="/images/c-logo.webp" alt="brand-logo" class="logo-icon">
      <h1 class="site-title">C-Blog</h1>
    </a>
    
    
    
    <ul class="nav-links">
      <li><a href="/" class="nav-link active">Home</a></li>
      <li><a href="/create" class="nav-link">Create Post</a></li>
      <li><a href="/posts" class="nav-link">View Posts</a></li>
    </ul>
    
    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>

    
    <div class="mobile-menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/create">Create</a></li>
        <li><a href="/posts">View Posts</a></li>
      </ul>
    </div>


  </nav>
</header>